<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MantisConnectBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.8.7/mantis/api/soap/mantisconnect.php"
                binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding"
                contract="MantisConnectReference.MantisConnectPortType" name="MantisConnectPort" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
